body{
    font-size: 12px;
    background-color:#F5F8FA;
}
nav,footer,.btn-default{
    background: #3c5a98;
    background: -moz-linear-gradient(top,  #3c5a98 0%, #4c67a1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c5a98), color-stop(100%,#4c67a1));
    background: -webkit-linear-gradient(top,  #3c5a98 0%,#4c67a1 100%);
    background: -o-linear-gradient(top,  #3c5a98 0%,#4c67a1 100%);
    background: -ms-linear-gradient(top,  #3c5a98 0%,#4c67a1 100%);
    background: linear-gradient(to bottom,  #3c5a98 0%,#4c67a1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c5a98', endColorstr='#4c67a1',GradientType=0 );
    color:white;
    font-weight: bold;
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.8);
}
.container-fluid{margin-top:45px;}
.banner{margin-left: 10px;margin-right: 10px;}
.banner img{width:100%;max-height: 300px;border: 1px solid #ddd;}

.profile{margin-top:-170px;padding-left: 10px;padding-right:10px;}
.profile img{max-width: 200px;max-height: 200px;border: 1px solid #ddd;}
.tab-profile .btn-group{float: right; }
.fa.fa-anchor.fa-2x{  float:left;margin:10px;  }
@media (min-width: 1000px) {  #collapse{float: right; }
    #collapse .nav.navbar-nav li:last-of-type  [class*="dropdown"]{
        margin-right: 120px;
    }}
#nav-search div input{border:1px white solid;  }
#nav-search div span button{border:1px white solid ; border-left:1px solid grey; }
.container-app{border:1px white solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;}

@media (max-width: 768px) {
    #nav-search{
    border:none;
    padding:0px;
    margin:0px;  }
    .tab-profile{background-color: #ffffff;
        margin-left: 10px;
        margin-right: 10px;
        border:solid 1px gainsboro;
        margin-bottom: 10px;
        padding: 5px;
    }
    .banner{display: none;}
    .profile{margin-top:10px;padding: 0px;}
    .profile img{padding: 0px;margin:auto;}
    .tabs{margin-left: auto;margin-right: auto;width: 100%}
}

