<div class="col-lg-4 col-md-4 sol-sm-6 col-xs-12 container-app">
    <h4>Where we are</h4>
    <hr/>
    <div id="googleMap" style="width:500px;height:380px;"></div>
</div>

<div class="col-lg-8 col-md-8 sol-sm-6 col-xs-12 container-app">
    <h4>About our company</h4>
    <div>{{company.about}}</div>
</div>