<!--Banner-->
    <div class="row">
        <div class="banner" >
            <img class="img-responsive" src="css/Images/test.jpg" alt="Banner">
        </div>
    </div>
    <!--Profile Pic-->  <!--Tabs-->
    <div class="row tab-profile">
        <div class="profile">
            <div class="col-lg-3 col-md-4 col-sm-3">
                <img class="img-rounded img-responsive" src="css/Images/test.jpg" alt="Profile Picture" />
            </div>
            <div class="col-lg-9 col-md-8 col-sm-9">
                <div style="display: inline-block" class="container-app">
                    <h2 style="display:inline;">Name: {{company.name}}</h2>
                    <p><span>Address: {{company.address}}</span></p>
                    <p> <span>Phone: </span></p>
                    <p> <span>Owner: {{company.owner}}</span></p>
                    <p> <span>Email</span></p>
                    <p> <span>Website {{company.website}}</span></p>

                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">Edit Profile</button>
                    <button type="button" class="btn btn-default">Posts</button>
                    <button type="button" class="btn btn-default">Photos</button>
                    <button type="button" class="btn btn-default">Info</button>
                    <button type="button" class="btn btn-default">Status</button>
                </div>
            </div>
        </div>
    </div>

<!--Content-->
    <div class="row">
        <div ui-view></div>
    </div>

