<!--PRIMARY NAVIGATION -->

<nav class="navbar navbar-default  navbar-fixed-top" role="navigation">
    <span  class="fa fa-anchor fa-2x"></span>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse" >
            <span class="sr-only"> Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div   class="collapse navbar-collapse" id="collapse">
        <ul class="nav navbar-nav">
            <li>
                <form  id="nav-search" class="navbar-form navbar-left" role="search">
                    <div  class="input-group">
                        <input style="min-width: 250px;" type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="fa fa-search"></span></button>
                        </span>
                    </div>
                </form>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</a>
            </li>
            <li class="active">
                <a href="#"><span class="fa fa-home" aria-hidden="true"></span>  Home</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-comments" aria-hidden="true"></span> Messages</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Options <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Account settings</a></li>
                    <li><a href="#">Security settings</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><span class="fa fa-cog" aria-hidden="true"></span> Options</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-cubes" aria-hidden="true"></span> Charts</a>
            </li>



        </ul>
    </div>
</nav>
        <!--UI-VIEW  -->
<div class="container-fluid">
    <div ui-view></div>
</div>